<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ADMINEMAIL" value="donotreply@usgfla.com" />
    <add key="ADMINBCCEMAIL" value="prestonp@usgfla.com" />
    
    <!--Email Settings-->
    <add key="SMTPHOST" value="in-v3.mailjet.com" />
    <add key="SMTPPORT" value="587" />
    <add key="SMTPUSER" value="80b33c0a64e9a0fab513b7949beb5ab5" />
    <add key="SMTPPASSWORD" value="9c366b9ce0b0b31778643fbab2d31768" />
    
    <!--<add key="CUTOFFID" value="17482" />-->
    <add key="CUTOFFID" value="17922" />
    <add key="CUTOFFIMAGEBASEURL" value="http://client.usgfla.com/Assets/UserFiles/documents/" />
    <add key="IMAGEBASEURL" value="/Assets/UserFiles/Documents/" />
    <add key="BaseURL" value="http://www.usgfla.com/" />
    
   <!-- <add key="storageAccountName" value="usgfilestorage"/>
    <add key="storageKeyValue" value="L38KvQ3BM4RSIQ0wGLzpOejV5xoWAAOZw0Hw92Kr6ZWkgfhMlMGT2/7kptwJJxCyYA/ngVqyhC6pezTJsM+kaw=="/>-->
    
    
    <add key="storageAccountName" value="usgfilestoragebeta" />
    <add key="storageKeyValue" value="UtCn3WVbnQ1IJbdyNOiT/dxcmKtsb/Z8GUpnP7Bcr+z0ZT8UBI43ELsKSa82htzxmBZdwYJuCyycHG8INYIMcw==" />
    <add key="connectionString" value="data source=gonzodatabaseserver.database.windows.net;initial catalog=USGData_Beta;persist security info=False;user id=ecotto;pwd=xav13r2417! ;packet size=4096" />
    <add key="SiteSqlServer" value="data source=gonzodatabaseserver.database.windows.net;initial catalog=USG_DNN_2020-12-22T00-51Z;persist security info=False;user id=ecotto;pwd=xav13r2417!;packet size=4096" />

    <!--<add key="connectionString" value="data source=DESKTOP-Q5FPBPL\SQLEXPRESS;initial catalog=USGData_Beta_Latest;persist security info=False;packet size=4096"/>
    <add key="SiteSqlServer" value="data source=gonzodatabaseserver.database.windows.net;initial catalog=USG_DNN_2020-12-22T00-51Z;persist security info=False;user id=ecotto;pwd=xav13r2417!;packet size=4096"/>-->
    <!--<add key="SiteSqlServer" value="data source=(LocalDb)\MSSQLLocalDB;initial catalog=USG_DNN_2020-12-22T00-51Z  ;persist security info=False;packet size=4096"/>-->

    <!--<add key="betastorageAccountName" value="apptomatedigital"/>
    <add key="betastorageKeyValue" value="GpE+UqMG+4GFa9prYupY2xdWcuH5PEdYwIUHpzh7tqHuRaphTtKjTtFWJzzLlZbFOIzYD/CY49YbVDaNmOk9rQ=="/>-->

    <!--<add key="connectionString" value="data source=SUNILKUMAR;initial catalog=USGData_Beta;persist security info=False;user id=sa;pwd=tiger;packet size=4096"/>
    <add key="SiteSqlServer" value="data source=SUNILKUMAR;initial catalog=USG_DNN_BETA;persist security info=False;user id=sa;pwd=tiger;packet size=4096"/>-->
    
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <authentication mode="Forms" />
    <pages enableEventValidation="false">
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <compilation targetFramework="4.5.2" debug="true">
      <assemblies>
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="500" maxRequestLength="1048576" targetFramework="4.5.2" requestValidationMode="2.0" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
      <customErrors mode="Off" defaultRedirect="~/CustomErrorPages/Images/500-Internal-Error-Page.png">
        <error statusCode="404" redirect="~/CustomErrorPages/Images/error-404.jpg" />
        <error statusCode="500" redirect="~/CustomErrorPages/Images/500-Internal-Error-Page.png" />

        <error statusCode="401" redirect="~/CustomErrorPages/Images/401.jpg" />
        <error statusCode="403" redirect="~/CustomErrorPages/Images/403-forbidden.jpg" />

        <error statusCode="502" redirect="~/CustomErrorPages/Images/502.jpg" />
        <error statusCode="503" redirect="~/CustomErrorPages/Images/503.png" />
      </customErrors>
    
    <sessionState timeout="60"></sessionState>
    <httpHandlers>
    </httpHandlers>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
      </providers>
    </roleManager>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
     <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  <httpProtocol>
     <customHeaders>
         <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
         <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS,PUT,DELETE" />
     </customHeaders>
   </httpProtocol>
        <rewrite>            
            <outboundRules>
                <clear />                
                <rule name="AddCrossDomainHeader">
                    <match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
                        <add input="{HTTP_ORIGIN}" pattern="(http(s)?://((.+\.)?domain1\.com|(.+\.)?domain2\.com|(.+\.)?domain3\.com))" />
                    </conditions>
                    <action type="Rewrite" value="{C:0}" />
                </rule>           
            </outboundRules>
        </rewrite>
        <handlers>
        </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 1AFA4E7F-0DF8-45D5-8693-FA13D2D59531-->